.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
}

#bulbasaur {
  /* your code here */
  top: 1rem;
}

#charmander {
  /* your code here */
  top: 2.25rem;
}

#squirtle {
  /* your code here */
  top: 4.75rem;
}

#pikachu {
  /* your code here */
  top: 9.75rem;
}

#jigglypuff {
  /* your code here */
  top: 18.5rem;
}
