* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.open {
  background-color: rgb(74, 74, 233);
  color: #ffff;
  border: 1px solid rgb(74, 74, 233);
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  box-shadow: 0 3px 3px 0 darkgrey;
  cursor: pointer;
}

.modal-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-container {
  border: 1px solid #ffff;
  background-color: #ffff;
  padding: 3rem 1rem;
  border-radius: 0.3rem;
}

.modal-text-wrapper h2 {
  text-shadow: 1px 1px 1px darkgrey;
  font-size: 2rem;
}

.modal-button-wrapper {
  display: flex;
  justify-content: center;
}

.no {
  background-color: rgb(235, 93, 93);
  border: 1px solid rgb(235, 93, 93);
  border-radius: 0.25rem;
  color: #ffff;
  font-size: 1.75rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 2px 1px 0 darkgrey;
  cursor: pointer;
}

.hidden {
  display: none;
}
